.task-container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: #fefefe;
}

.task-container-titulo {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    gap: 5px;
    color: #fff212;
    text-shadow: 0.5px 0.5px 1px #00b1f2;
    flex-wrap: nowrap;
}

.task-nome,
.task-pontuacao {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 22px;
}

.task-pontuacao {
    letter-spacing: 1px;
}

.remove-task-button-mais,
.remove-task-button-menos,
.remove-task-button {
    background-color: #444;
    border: none;
    font-size: 30px;
    color: #fff212;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* <= 1025px */
@media screen and (max-width: 1025px) {
    .task-nome,
    .task-pontuacao {
        font-size: 20px;
    }
}

/* <= 768px */
@media screen and (max-width: 768px) {
    .task-nome,
    .task-pontuacao {
        font-size: 17px;
    }

    .remove-task-button-mais,
    .remove-task-button-menos,
    .remove-task-button {
        font-size: 28px;
    }
}

/* <= 600px */
@media screen and (max-width: 600px) {
    .task-container {
        padding: 5px 5px;
    }

    .task-container-titulo {
        flex-direction: column;
        width: 100%;
    }

    .button-container {
        flex-direction: column;
    }

    .remove-task-button-mais,
    .remove-task-button-menos,
    .remove-task-button {
        font-size: 24px;
    }
}

/* <= 480px */
@media screen and (max-width: 480px) {
    .task-nome,
    .task-pontuacao {
        font-size: 16px;
    }

    .remove-task-button-mais,
    .remove-task-button-menos,
    .remove-task-button {
        font-size: 22px;
    }
}

/* <= 360px */
@media screen and (max-width: 360px) {
    .task-nome,
    .task-pontuacao {
        font-size: 14px;
    }

    .remove-task-button-mais,
    .remove-task-button-menos,
    .remove-task-button {
        font-size: 20px;
    }
}
